.product-spec-page-main {
  position: relative;

  .close-circle-icon {
    position: absolute;
    padding: var(--spaces-4);
    color: var(--color-error);
  }

  img {
    width: 100%;
    height: 355px;
  }
}
