.arts-header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: var(--spaces-3) var(--spaces-7);

  section {
    display: flex;
    align-items: center;
    gap: var(--spaces-5);
  }

  h2 {
    font-style: italic;
    color: var(--color-arts-header-title-text);
  }

  .redirect-arrow {
    color: var(--color-arts-header-title-text);
  }
}
