
.auth-header-main {
  height: 100%;
  padding: 0 var(--spaces-4);
  background: var(--color-auth-navbar-bg);

  .arts-welcome-note {
    padding-top: var(--spaces-2);
    color: var(--color-auth-navbar-text);
  }
}