
.app-navbar-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: var(--spaces-5);
  background: var(--color-app-navbar-bg);

  .app-navbar-logo {
    padding-bottom: var(--spaces-2);
    border-bottom: var(--borders-1) solid var(--color-container-border-bright);
  }

  .app-navbar-content {
    height: 100%;
  }

  .app-navbar-user-thumbnail {
    padding-bottom: var(--spaces-6);
    cursor: pointer;
  }
}