
.login-page-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: var(--full-host-height);

  form {
    width: 515px;
    margin-top: var(--spaces-5);
    padding: var(--spaces-5);
    border: var(--borders-1) solid var(--color-container-border);
    border-top: var(--borders-4) solid var(--color-login-form-border);
  }

  img {
    margin-top: var(--spaces-10);
  }
}
