
.login-main {
  display: flex;
  flex-wrap: wrap;

  .box-element {
    width: 215px;
    height: 215px;
    background: black;
    margin: 10px;
  }
}

.box-element {
    width: 215px;
    height: 215px;
    background: black;
    margin: 10px;
  }

