.mantine-Checkbox-root {
  .mantine-Checkbox-input {
    background: var(--color-app-checkbox-bg);

    &:checked {
      background: var(--color-app-checkbox-fill);
    }
  }

  .mantine-Checkbox-icon {
    color: var(--color-app-checkbox-mark);
  }

  .mantine-Checkbox-label {
    font-family: 'assistant-bold';
    color: var(--color-app-checkbox-text);
  }
}
