
%shell-layout-main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

%shell-layout-inner-layer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

%shell-layout-content {
  width: 100%;
  overflow: auto;
}