@use '../definitions/utils' as *;

%shell-layout-main {
  display: flex;
  flex-direction: column;
  height: $full-screen-height;
  width: $full-screen-width;
}

%shell-layout-inner-layer {
  display: flex;
  flex-direction: row;
  width: $full-screen-width;
  height: $full-screen-height;
  overflow: hidden;
}

%shell-layout-content {
  width: $full-screen-width;
  overflow: auto;
}