
%shell-layout-main {
  display: flex;
  flex-direction: column;
  min-height: var(--full-viewport-height);
  width: var(--full-screen-width);
}

%shell-layout-aside {
  position: sticky;
  display: flex;
  overflow-y: auto;
  overflow-x: hidden;
}

%shell-layout-footer {
  position: sticky;
  bottom: var(--spaces-0);
}

%shell-layout-inner-layer {
  display: flex;
  flex: 1;
}

%shell-layout-header {
  position: sticky;
  top: var(--spaces-0);
}

%shell-layout-content {
  flex: 1;
}