/* You can add global styles to this file, and also import other style files */
@use 'assets/index' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: heebo-regular;
}

:root {
  @include shadows();
  @include corners();
  @include borders();
  @include spaces();
}

html, body, #root {
  height: 100%;
}

body.hyperion {
  @include hyperion();
}

body.aurora {
  @include aurora();
}

body {
  background: var(--color-background);
}

a {
  text-decoration: underline;
  cursor: pointer;
}

ul {
  list-style-position: inside;
}

