
@mixin spaces() {
  --spaces-0: 0px;
  --spaces-1: 2px;
  --spaces-2: 4px;
  --spaces-3: 8px;
  --spaces-4: 12px;
  --spaces-5: 16px;
  --spaces-6: 20px;
  --spaces-7: 24px;
  --spaces-8: 28px;
  --spaces-9: 32px;
  --spaces-10: 40px;
  --spaces-11: 44px;
  --spaces-12: 48px;
  --spaces-14: 56px;
  --spaces-16: 64px;
  --spaces-20: 80px;
  --spaces-24: 96px;
  --spaces-28: 112px;
  --spaces-32: 128px;
}