// lighten - https://study.com/learn/lesson/hyperion-greek-mythology-god-of-light.html

@mixin hyperion() {
  --color-app-background: #ffffff;
  --color-app-text: #000000;
  --color-auth-navbar-bg: #339af0;
  --color-auth-navbar-text: #ffffff;
  --color-login-form-border: #339af0;
  --color-anchor-text: #339af0;
  --color-container-border-foggy: #ced4da;
  --color-container-border-bright: #ffffff;
  --color-app-primary-button-bg: #339af0;
  --color-app-primary-button-text: #ffffff;
  --color-app-primary-button-bg-hover: #1c7ed6;
  --color-app-primary-button-disabled: #ced4da;
  --color-text-link: #339af0;
  --color-error: #ff6b6b;
  --color-success: #228b22;
  --color-warning: #ffc007;
  --color-info: #339af0;
  --color-app-navbar-bg: #339af0;
  --color-app-navbar-text: #ffffff;
  --color-app-navbar-arts-inactive: #ffffff;
  --color-app-navbar-arts-active: #8f00ff;
  --color-app-navbar-fav-inactive: #ffffff;
  --color-app-navbar-fav-active: #ffc007;
  --color-thumbnail-text: #000000;
  --color-menu-item: #339af0;
  --color-menu-bar-bg: #ffffff;
  --color-menu-bar-text: #339af0;
  --color-menu-bar-item-active: #f1f3f5;
  --color-menu-bar-item-active-error: #ff6b6b1a;
  --color-app-checkbox-fill: #339af0;
  --color-app-checkbox-text: #339af0;
  --color-app-checkbox-mark: #ffffff;
  --color-app-checkbox-bg: #ffffff;
  --color-app-modal-bg: #ffffff;
  --color-app-modal-text: #000000;
  --color-entity-card-bg: #ffffff;
  --color-entity-card-header-text: #000000;
  --color-entity-card-description-text: #868e96;
  --color-arts-header-bg: #e7f5ff;
  --color-arts-header-title-text: #339af0;
  --color-app-drawer-bg: #ffffff;
  --color-app-drawer-icon-inactive: #339af0;
  --color-app-drawer-icon-active: #8f00ff;
  --color-app-drawer-icon-favorite: #ffc007;
}
