// lighten - https://study.com/learn/lesson/hyperion-greek-mythology-god-of-light.html

@mixin hyperion() {
  --color-background: #FFFFFF;
  --color-app-navbar-bg: #339af0;
  --color-app-navbar-text: #FFFFFF;
  --color-login-form-border: #339af0;
}